<main>
    <section>
        <h2>Login</h2>

        <form id="login-form"
            action="/users/login"
            method="POST"
            enctype="application/x-www-form-urlencoded"
            >
            <fieldset>
                <label for="username">Username</label>
                <input type="text" name="username" title="username" />

                <label for="password">Password</label>
                <input type="password" name="password"/>

                <input type="submit" id="submit-button" value="Login" />
                <a href="/register"> Register</a>
            </fieldset>
        </form>
    </section>
</main>